<div class="min-vh-100 bg-page">

  <!-- HEADER -->
  <div class="header-bar d-flex justify-content-center align-items-center">

    <div class="fw-bold fs-3 text-primary">
      🚌 Bus Booking
    </div>

  </div>

  <!-- HERO SECTION -->
  <div class="position-relative">

    <!-- IMAGE -->
    <div class="hero-img d-flex align-items-center justify-content-center">
      <h1 class="display-4 fw-bold">Book Your Journey</h1>
    </div>

    <!-- SEARCH BOX -->
    <div class="container position-relative search-box">

      <div class="card border-0 rounded-4 p-4">

        <form (ngSubmit)="searchBuses()">

          <div class="row g-3 align-items-end">

            <!-- SOURCE -->
            <div class="col-md-3">
              <label class="form-label text-muted">Source</label>
              <input 
                type="text" 
                class="form-control"
                placeholder="Enter source city"
                [(ngModel)]="src"
                name="src"
                required>
            </div>

            <!-- DESTINATION -->
            <div class="col-md-3">
              <label class="form-label text-muted">Destination</label>
              <input 
                type="text" 
                class="form-control"
                placeholder="Enter destination city"
                [(ngModel)]="dest"
                name="dest"
                required>
            </div>

            <!-- DATE -->
            <div class="col-md-3">
              <label class="form-label text-muted">Date</label>
              <input 
                type="date" 
                class="form-control"
                [(ngModel)]="date"
                name="date"
                required >
            </div>

            <!-- SEARCH -->
            <div class="col-md-3 d-grid">
              <button type="submit" class="btn btn-primary btn-lg">
                Search
              </button>
            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>