 <header *ngIf="bservice.ltoken" class="bg-warning-subtle m-2 p-2">
 <div class="text-center my-4">
  <h1 class="fw-bold text-primary">
    🚌 {{ title }}
  </h1>
 
</div>

  </header>

<nav *ngIf="bservice.ltoken" 
     class="m-2 p-2 bg-dark d-flex align-items-center justify-content-between">

  <!-- LEFT SIDE -->
  <div class="d-flex gap-2">
    <a class="btn btn-danger text-white" routerLink="/booking">
      Search Buses
    </a>

    <a class="btn btn-danger text-white" (click)="getBookings()">
      View My Bookings
    </a>
  </div>

  <!-- RIGHT SIDE -->
  <div>
    <a class="btn btn-danger text-white" (click)="logout()">
      Logout
    </a>
  </div>

</nav>




<main class="m-2 p-2">
  <router-outlet></router-outlet>
</main>