<div class="container my-4">

  <!-- TOP ROUTE BAR -->
  <div class="card shadow-sm mb-4 p-3">

    <div class="d-flex justify-content-between align-items-center flex-wrap">

      <div>
        <h5 class="fw-bold mb-1">
          {{ schedules[0]?.busRoute?.src }} → {{ schedules[0]?.busRoute?.dest }}
        </h5>
        <small class="text-muted">{{ schedules.length }} buses</small>
      </div>

      <div>
        <strong>Date:</strong> {{ schedules[0]?.scheduleDt }}
      </div>

    </div>

  </div>

  <!-- BUS LIST -->
  <div *ngFor="let bus of schedules" class="card mb-3 shadow-sm border-0">

    <div class="card-body">

      <div class="row align-items-center">

        <!-- LEFT: BUS INFO -->
        <div class="col-md-4">
          <h6 class="fw-bold mb-1">
            {{ bus.busRoute.src }} → {{ bus.busRoute.dest }}
          </h6>

          <small class="text-muted">
            Total Seats: {{ bus.totSeats }}
          </small>
        </div>

        <!-- CENTER: TIME -->
        <div class="col-md-4 text-center">
          <h5 class="fw-bold mb-0">
            {{ bus.departureTime }}
          </h5>

          <small class="text-muted">
            Available: {{ bus.avlSeats }} seats
          </small>
        </div>

        <!-- RIGHT: PRICE + BUTTON -->
        <div class="col-md-4 text-end">

          <h5 class="text-success fw-bold mb-2">
            ₹ {{ bus.busFare }}
          </h5>

          <button class="btn btn-danger btn-sm px-3" (click)="goToSeats(bus.rsId)" >
            View Seats
          </button>

        </div>

      </div>

      <!-- STATUS ROW -->
      <div class="mt-3">

        <span 
          class="badge"
          [ngClass]="{
            'bg-success': bus.schStatus === 'ON_TIME',
            'bg-warning text-dark': bus.schStatus === 'DELAYED',
            'bg-secondary': bus.schStatus !== 'ON_TIME' && bus.schStatus !== 'DELAYED'
          }">

          {{ bus.schStatus }}
        </span>

      </div>

    </div>

  </div>

</div>